[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
asgiref = "==3.3.1"
certifi = "==2020.12.5"
chardet = "==4.0.0"
idna = "==2.10"
pytz = "==2021.1"
sqlparse = "==0.4.1"
urllib3 = "==1.26.4"
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-summernote = "*"
pillow = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
